@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Alegreya+Sans:wght@400;500;700&family=Alegreya:wght@400;500&family=Cinzel:wght@400;500&family=Cormorant+Unicase:wght@400;500&family=Eczar:wght@400;500&family=Marcellus&family=Ysabeau+Office:wght@400;500&display=swap");

$font-title: "Marcellus", serif;
//"Spectral", serif;
$font-text: "DM Sans", sans-serif;

$background: linear-gradient(
  45deg,
  hsl(0deg 0% 5%) 0%,
  hsl(240deg 1% 6%) 11%,
  hsl(240deg 2% 6%) 22%,
  hsl(240deg 2% 7%) 33%,
  hsl(240deg 3% 7%) 44%,
  hsl(240deg 3% 7%) 56%,
  hsl(240deg 4% 7%) 67%,
  hsl(240deg 4% 8%) 78%,
  hsl(240deg 4% 8%) 89%,
  hsl(240deg 5% 8%) 100%
);

$color-background: #0e0e0e;

$color-text-primary: #e1e1e1;
$color-text-secondary: #bbbaba;
$color-accent: #ffa441;

$color-accent-light: #fdb566;
$color-card: #222223;

$border-radius: 4px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
