@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://use.typekit.net/afg7onv.css");

$font-main: "Open Sans", sans-serif;

$color-text-primary: #000;
$color-text-secondary: #fff;

$color-accent: #c18e3d;

$color-accent-light: #fdb566;
$color-card: #222223;

$color-error: #fa5e4f;

$border-radius: 4px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
