@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Marcellus&family=Marcellus+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

$font-title: Vollkorn, serif;

//$font-title: "Cormorant Garamond", serif;
// "Marcellus", serif;

$font-main: "DM Sans", sans-serif;

$background: linear-gradient(
  45deg,
  hsl(0deg 0% 5%) 0%,
  hsl(240deg 1% 6%) 11%,
  hsl(240deg 2% 6%) 22%,
  hsl(240deg 2% 7%) 33%,
  hsl(240deg 3% 7%) 44%,
  hsl(240deg 3% 7%) 56%,
  hsl(240deg 4% 7%) 67%,
  hsl(240deg 4% 8%) 78%,
  hsl(240deg 4% 8%) 89%,
  hsl(240deg 5% 8%) 100%
);

$color-background: #0e0e0e;

$color-text-primary: #e1e1e1;
$color-text-secondary: #bbbaba;

$color-accent: #ffa441;

$color-accent-light: #fdb566;
$color-card: #222223;

$color-error: #fa5e4f;

$border-radius: 4px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
